RewriteEngine On
RewriteRule ^balance/inquire?$ balance/inquire.php
RewriteRule ^balance/update?$ balance/update.php
RewriteRule ^points/inquire?$ points/inquire.php
RewriteRule ^points/update?$ points/update.php
RewriteRule ^customer/retrieve?$ customer/retrieve.php
RewriteRule ^customer/retrieve_subscriptions?$ customer/retrieve_subscriptions.php
RewriteRule ^customer/update?$ customer/update.php
RewriteRule ^customer/insert?$ customer/insert.php
RewriteRule ^customer/subscribe?$ customer/subscribe.php
RewriteRule ^reward/retrieve?$ reward/retrieve.php
RewriteRule ^reward/update?$ reward/update.php
RewriteRule ^reward/redeem?$ reward/redeem.php
RewriteRule ^reward/retrieve_redeemed?$ reward/retrieve_redeemed.php
RewriteRule ^demo/login?$ demo/login.php
RewriteRule ^demo/home?$ demo/home.php
RewriteRule ^raffle_engine/retrieve?$ raffle_engine/retrieve.php
RewriteRule ^raffle_engine/update?$ raffle_engine/update.php
RewriteRule ^raffle_engine/insert?$ raffle_engine/insert.php
RewriteRule ^login_trigger/retrieve?$ login_trigger/retrieve.php
RewriteRule ^login_trigger/update?$ login_trigger/update.php
RewriteRule ^login_trigger/insert?$ login_trigger/insert.php
RewriteRule ^coupon/retrieve?$ coupon/retrieve.php
RewriteRule ^coupon/retrieve_qr?$ coupon/retrieve_qr.php
RewriteRule ^coupon/update?$ coupon/update.php
RewriteRule ^coupon/insert?$ coupon/insert.php
RewriteRule ^coupon/redeem?$ coupon/redeem.php
RewriteRule ^coupon/generate?$ coupon/generate.php
RewriteRule ^coupon/retrieve_redeemed?$ coupon/retrieve_redeemed.php